/* 重置列表和列表项的默认样式 */
#sidebar ul,
#sidebar ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    text-align: center; /* 居中对齐 */
}

/* 样式侧边栏 */
#sidebar {
    width: 250px; /* 根据需要调整宽度 */
    background-color: #f5f5f5;
    height: 90%; /* 使侧边栏充满整个高度 */
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* 可选：添加阴影效果 */
}

/* 样式顶级菜单项 */
#sidebar ul > li {
    border-bottom: 1px solid #ddd;
}

/* 样式菜单项内的链接 */
#sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

/* 鼠标悬停效果 */
#sidebar a:hover {
    background-color: #eaeaea;
}

/* 样式子菜单项 */
#sidebar ul ul {
    display: none; /* 默认隐藏子菜单 */
    background-color: #fff;
}

/* 鼠标悬停时显示子菜单 */
#sidebar ul li:hover > ul {
    display: block;
}

/* 调整子菜单的缩进 */
#sidebar ul ul {
    padding-left: 20px;
}

/* 样式图标 */
#sidebar i {
    margin-right: 10px;
}

/* 样式标签 */
.label {
    margin-left: 10px;
    padding: 3px 6px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
}

.label-important {
    background-color: #d9534f;
    color: #fff;
}

/* 可选：激活菜单项 */
#sidebar .active > a {
    background-color: #337ab7;
    color: #fff;
}
